<main class="show">
    <section class="landing-image-section">
        <section class="ds-card primary-card"></section>
        <img class="landing-image" src="assets/images/woman-2377742_1920-removebg.png" alt="">
        <div class="landing-content">
            <h1 class="title" style="line-height: 40px; text-align: right;">
                <small style="font-size: 25px;">Variedades</small>
                <br>
                <span>Dael</span>
            </h1>
            <div class="description">
                <p>
                    <span>Explora tu propio sentido de la </span>
                    <u>moda</u>
                    <span>.</span>
                </p>

                <p class="small">
                    Tu estilo único revela tu auténtico ser interior.
                </p>
            </div>
            <button class="btn btn-dark" routerLink="/shop">DESCUBRIR</button>
        </div>
    </section>
</main>