// .animated {
//     animation-timing-function: ease;
//     animation-fill-mode: forwards;
//     animation-duration: 250ms;
//     animation-name: drop;
// }

.categories {
    transform: translateY(-2.1875rem);
    max-width: 100%;
}

.category {
    transition: all 250ms ease;

    &:not(:hover):not(:focus):not(:active):not(.active) {
        img {
            filter: var(--ds-primary-flt);
        }
    }
}

@keyframes drop {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0);
    }
}

.shop {
    .shop-row {
        margin-top: var(--gutter-y);
    }

    .shop-col:nth-child(odd) {
        margin-top: calc(var(--gutter-y) * -1);
    }
}

.shop-row {
    --gutter-x: 3rem;
    --gutter-y: 3rem;
    flex-wrap: wrap;
    display: flex;
    // grid-template-columns: 50% 50%;

    .shop-col {
        padding: 0.5rem calc(var(--gutter-x) / 2);
        width: 50%;
    }

    @media only screen and (max-width: 550px) {
        --gutter-x: calc(7.5vw - 0.25rem);
        --gutter-y: 5vh;
    }
}
