$primary-rgb: 195, 182, 235;
$primary: #c3b6eb;
$primary-light: #f1eff8;
$primary-light2: #d9d2ef;
$primary-dark: #9a97f2;
$primary-light2-flt: invert(88%) sepia(10%) saturate(629%) hue-rotate(209deg) brightness(90%) contrast(108%);
$primary-flt: invert(71%) sepia(20%) saturate(504%) hue-rotate(213deg) brightness(106%) contrast(84%);
